.singlePizza{
    display: flex;
    gap: 20px;
}

.wrapper {
    img{
        width: 100%;
        height: 100%;
    }
}

.info{
    position: relative;
    :global{
        .button{
            width: 150px;
            position: absolute;
            bottom: 50px;
        }
    }
}

.title{
    font-size: 25px;
}

.price{
    font-size: 20px;
    margin-top: 20px;
}