.singlePizza{
    display: flex;
    gap: 20px;
    @media (max-width: 992px) {
        flex-direction: column;
    }
}

.wrapper {
    img{
        width: 100%;
        height: 100%;
    }
}

.info{
    position: relative;
    :global{
        .button{
            width: 150px;
            position: absolute;
            bottom: 50px;
            @media (max-width: 992px) {
                bottom: 20px;
                right: 50%;
                transform: translate(50%);
            }
            @media (max-width: 576px) {
                right: 0;
                transform: translate(0);
            }
        }
    }
}

.title{
    font-size: 25px;
}

.price{
    font-size: 20px;
    margin-top: 20px;
    
    @media (max-width: 576px) {
        margin-top: 5px;
    }
}